*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.kbc{
    background: #fff;
    width: 100%;
    max-width: 500px;
    margin:50px auto 0;
    border-radius: 10px;
    padding: 25px; 
    
}
.kbc h1{
    background-color: #7c9cf3ea;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
}
#quiz{
    padding:20px 0;
   
}
.quiz.hidden{
    display: none;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:15px 0 15px ;
    border-radius: 15px;
    color: blue;
    background-color: honeydew;
    padding: 15px 10px;
    cursor: pointer;
}
.info{
    margin: 20px auto 0;
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    
}
#name{
    border: 2px solid black;
    padding: 5px 2px;
    border-radius: 15px;
    color: blue;
    font-size: 15px;

}
#btn{
    border: 1px solid greenyellow;
    background-color: black;
    border-radius: 15px;
    color: #9f09f7;
    margin-left:26px;
    height: 30px;
    width:54px;
    padding: 8px 14px;
    cursor: pointer;
}
#btn:hover{
    background: #dffac5;
    color: #222;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:92px;
    width:108px;
}

.btn:hover{
    background:#222;
    color:#fff;
}